extends ../layout

block content

    div.container#content

        h3 Mögliche Trades für diese Woche

        table.table.table-striped
            tr
                th Datum/Uhrzeit
                th Land
                th Unternehmen
            tr
                td

                td
                    | DE
                td
                    | Avid Technology
